body {
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  margin-top: 12px;
  font-size: 30px;
}

span {
  font-size: 14px;
}

input {
  width: 35px;
}

.display_words {
  margin-top: 12px;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
  opacity: 70%;
}

button img {
  pointer-events: none;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

.saved-li {
  display: flex;
  gap: 5px;
}

.del-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
