body {
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  margin-top: 12px;
  font-size: 30px;
}

span {
  font-size: 14px;
}

input {
  width: 35px;
}

.display_words {
  margin-top: 12px;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
  opacity: 70%;
}

li {
  list-style-type: none;
}
